name: Process Customers Data

permissions:
  contents: write
  pages: write
  id-token: write

on:
  push:
    branches:
      - main
    paths:
      - 'terraform/modules/scripts/customers.py'
  workflow_dispatch:

env:
  TEST_EXECUTION_ENV: prod

jobs:
  test:
    name: 'Run PySpark Tests'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyspark pytest pytest-cov allure-pytest pre-commit boto3 awscli pytest-rerunfailures pandas numpy
        
      - name: Install and run pre-commit hooks
        run: |
          pre-commit install
          SKIP=no-commit-to-branch pre-commit run --all-files
        
      - name: Run PySpark tests
        id: run_tests
        continue-on-error: true
        run: |
          export PYTHONPATH=$PYTHONPATH:$GITHUB_WORKSPACE/terraform/modules/scripts
          cd terraform/modules/tests
          pytest test_customer.py  --reruns 3 --cov=../scripts --cov-report=xml:coverage.xml --cov-report=html:coverage_html --alluredir=allure-results
        
      - name: Get Allure history
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages
      
      - name: Upload Coverage Report (HTML)
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: coverage_html
          path: terraform/modules/tests/coverage_html
      
      - name: Upload Allure Results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: allure-results
          path: terraform/modules/tests/allure-results
      
      - name: Generate Allure Report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: terraform/modules/tests/allure-results
          allure_history: allure-history
      
      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: allure-report
          path: allure-report
      
      - name: Deploy to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-history
          keep_files: false
      
      - name: Set current date as env variable
        if: always()
        run: |
          echo "event_name=$GITHUB_EVENT_NAME" >> $GITHUB_OUTPUT
          echo "workflow=$GITHUB_WORKFLOW" >> $GITHUB_OUTPUT
          echo "actor=$GITHUB_ACTOR" >> $GITHUB_OUTPUT
          echo "run_number=$GITHUB_RUN_NUMBER" >> $GITHUB_OUTPUT
        id: version
      
      - name: Add Coverage Comment to PR
        if: github.event_name == 'pull_request' && always()
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-xml-coverage-path: terraform/modules/tests/coverage.xml
          title: PySpark Test Coverage Report
          create-new-comment: true
          report-only-changed-files: true
          
      - name: Check test status and set job output
        if: always()
        id: check_status
        run: |
          if [ "${{ steps.run_tests.outcome }}" == "failure" ]; then
            echo "tests_failed=true" >> $GITHUB_OUTPUT
          else
            echo "tests_failed=false" >> $GITHUB_OUTPUT
          fi
    outputs:
      tests_failed: ${{ steps.check_status.outputs.tests_failed }}

  deploy-glue:
    name: 'Deploy ETL Glue Job Script'
    runs-on: ubuntu-latest
    environment: production
    needs: test
    defaults:
      run:
        shell: bash
    
    permissions:
      id-token: write
      contents: read
    
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.ROLE_TO_ASSUME }}
          aws-region: us-east-1
      
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install boto3
      
      - name: Upload Glue Script to S3
        run: |
          aws s3 cp terraform/modules/scripts/customers.py "s3://nexabrands-prod-code/scripts/customers.py"
        env:
          CODE_BUCKET: ${{ secrets.CODE_BUCKET }}
          ENVIRONMENT: ${{ secrets.ENVIRONMENT }}
          SOURCE_BUCKET: ${{ secrets.SOURCE_BUCKET }}
          TARGET_BUCKET: ${{ secrets.TARGET_BUCKET }}
          GLUE_SERVICE_ROLE: ${{ secrets.GLUE_SERVICE_ROLE }}

      - name: Fail if tests failed
        if: needs.test.outputs.tests_failed == 'true'
        run: |
          echo "Tests failed in the previous job. Marking workflow as failed."
          exit 1